/.vs/Learnings/FileContentIndex
/.vs/Learnings/FileContentIndex/07c38bf1-9bb7-4ca6-9730-aa13add48e95.vsidx
/.vs/Learnings/FileContentIndex/1cf29559-1a03-489d-8adb-088db271d4b2.vsidx
/.vs/Learnings/FileContentIndex/833ceda7-f80e-4a60-8662-4785249d9597.vsidx
/.vs/Learnings/FileContentIndex/d659374b-530f-4ea4-9610-9df6b4fae6fd.vsidx
